@{
    Layout = "~/Views/Shared/BaseLayoutPortal.cshtml";

    ViewBag.Title = "";
    ViewBag.MainClass = "DashboardView";
}

@section Styles {
    <link href="/lib/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="/lib/datatables/Buttons-1.6.1/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="/lib/datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="/lib/timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="/css/Shared/dt-global_style.css?3661" rel="stylesheet" />

    <link href="/css/Shared/maestroLayout.css?3661" rel="stylesheet" />
    <link href="/css/Shared/modal.css?3661" rel="stylesheet" />
    <link href="/css/Views/PortalPacientes/home.css?3661" rel="stylesheet" />
    <link href="/css/Shared/main.css" rel="stylesheet" />
    <link href="/css/Shared/custom-carousel.css" rel="stylesheet" />
}

<div class="@ViewBag.MainClass" data-mainclass="@ViewBag.MainClass">

    <div class="row layout-top-spacing">

        @* @Html.Raw((string)ViewBag.HomeTemplate) *@
        <div class="col-md-6 text-center">
            <a href="/portal-pacientes/turnos">
                <div class="card" style="width: 18rem;">
                    <i class="fa fa-calendar fa-3x mt-4"></i>
                    <div class="card-body mt-2 alert-secondary">
                        <p class="card-text">Accedé a tu historial de turnos. Podés confirmar o cancelar tus turnos pendientes.</p>
                    </div>
                </div>
            </a>
        </div>
        @* <div class="col-md-4 text-center">
            <a href="/portal-pacientes/historia-clinica">
                <div class="card" style="width: 18rem;">
                    <i class="fa fa-list fa-3x mt-4"></i>
                    <div class="card-body mt-2 alert-secondary">
                        <p class="card-text">Acá podés encontrar el detalle de tus visitas, además podés descargar adrecetas y órdenes.</p>
                    </div>
                </div>
            </a>
        </div> *@
        <div class="col-md-6 text-center">
            <a href="/portal-pacientes/mis-datos">
                <div class="card" style="width: 18rem;">
                    <i class="fa fa-file-alt fa-3x mt-4"></i>
                    <div class="card-body mt-2 alert-secondary">
                        <p class="card-text">Mantené actualizados tus datos para recibir detalle de turnos y evoluciones.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/lib/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/lib/datepicker/js/bootstrap-datepicker.es.min.js"></script>
    <script src="/lib/timepicker/js/bootstrap-timepicker.js"></script>
    <script src="/lib/datatables/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="/lib/datatables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="/lib/datatables/DateTime-1.10.x/datetime-moment.js"></script>
    <script src="/lib/datatables/Buttons-1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="/lib/datatables/Buttons-1.6.1/js/buttons.bootstrap4.min.js"></script>
    <script src="/lib/datatables/Select-1.3.1/js/dataTables.select.min.js"></script>
    <script src="/lib/datatables/Select-1.3.1/js/select.bootstrap4.min.js"></script>
    <script src="/lib/select2/js/select2.min.js"></script>
    <script src="/lib/select2/js/select2_locale_es.js?3661"></script>
    <script src="/lib/accounting/accounting.min.js"></script>
    <script src="/lib/autonumeric/autoNumeric.min.js"></script>
    <script src="/lib/jquery-alphanum/jquery.alphanum.js"></script>
    <script src="/lib/cleave/cleave.min.js"></script>
    <script src="/lib/cleave/cleave.jquery.js"></script>
    <script src="/lib/cleave/cleave-phone.ar.js"></script>
    <script src="/lib/flatpickr/flatpickr.js"></script>
    <script src="/lib/flatpickr/es.js"></script>

    <script src="/js/Helpers/dataTables.helper.js?3661"></script>
    <script src="/js/Helpers/select2.helper.js?3661"></script>
    <script src="/js/Helpers/formData.helper.js?3661"></script>
    <script src="/js/Helpers/ajax-action.js?3661"></script>
    <script src="/js/Helpers/constraints.helper.js?3661"></script>
    <script src="/js/Helpers/accounting.helper.js"></script>
    <script src="/js/Helpers/dropdown-group-list.helper.js?3661"></script>
    <script src="/js/Helpers/parseDynamicContent.helper.js?3661"></script>

    <script src="/js/Shared/enums.js?3661"></script>

    <script src="/js/Views/PortalPacientes/home.js?3661"></script>

}