@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";

    ViewBag.Title = "";
    ViewBag.MainClass = "DashboardView";
}

@section Styles {
    <link href="/lib/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="/lib/datatables/Buttons-1.6.1/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="/lib/datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="/lib/timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="/css/Shared/dt-global_style.css?1361" rel="stylesheet" />

    <link href="/css/Shared/maestroLayout.css?1361" rel="stylesheet" />
    <link href="/css/Shared/modal.css?1361" rel="stylesheet" />
    <link href="/css/Views/Home/dashboard.css?1361" rel="stylesheet" />
    <link href="/css/Shared/custom-carousel.css" rel="stylesheet" />
}

<div class="@ViewBag.MainClass" data-mainclass="@ViewBag.MainClass">

    <div class="row layout-top-spacing">
        <div class="col-12">
            <div class="row">
                <div class="col">
                    <div class="widget widget-card-two bg-transparen">
                        <div class="widget-content">
                            <div class="media">
                                <div class="w-img">
                                    <img src="/img/autogestion/icon.png">
                                </div>
                                <div class="media-body">
                                    <div class="font22"><b>@ViewBag.Empresa.ToUpperInvariant()</b></div>
                                    <p class="meta-date-time font12">@string.Format("CUIT: {0}", ViewBag.CUIT)</p>
                                </div>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 layout-spacing">
                    <div class="widget widget-account-invoice-two">
                        <div class="widget-content">
                            <div class="account-box">
                                <div class="info">
                                    <div class="inv-title">
                                        <h5 class="">Total Afiliados</h5>
                                    </div>
                                    <div class="inv-balance-info">
                                        <span class="inv-stats balance-credited vAfiliados">
                                            <img src="/img/mini_loader.gif" alt="Estamos trabajando en su solicitud" class="" style="width:30px;">
                                        </span>
                                    </div>
                                </div>
                                <div class="acc-action">
                                    <div class="text-white"> 
                                        <i class="fa fa-user fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 layout-spacing">
                    <div class="widget widget-account-invoice-two">
                        <div class="widget-content">
                            <div class="account-box">
                                <div class="info">
                                    <div class="inv-title">
                                        <h5 class="">Total Solicitudes Pendientes</h5>
                                    </div>
                                    <div class="inv-balance-info">
                                        <span class="inv-stats balance-credited vSolicitados">
                                            <img src="/img/mini_loader.gif" alt="Estamos trabajando en su solicitud" class="" style="width:30px;">
                                        </span>
                                    </div>
                                </div>
                                <div class="acc-action">
                                    <div class="text-white">
                                        <i class="fa fa-list fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 layout-spacing">
                    <div class="widget widget-account-invoice-two">
                        <div class="widget-content">
                            <div class="account-box">
                                <div class="info">
                                    <div class="inv-title">
                                        <h5 class="">Total Turnos Asignados</h5>
                                    </div>
                                    <div class="inv-balance-info">
                                        <span class="inv-stats balance-credited vAsignados">
                                            <img src="/img/mini_loader.gif" alt="Estamos trabajando en su solicitud" class="" style="width:30px;">
                                        </span>
                                    </div>
                                </div>
                                <div class="acc-action">
                                    <div class="text-white"> 
                                        <i class="fa fa-check fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 layout-spacing">
                    <div class="widget widget-account-invoice-two">
                        <div class="widget-content">
                            <div class="account-box">
                                <div class="info">
                                    <div class="inv-title">
                                        <h5 class="">Total Solicitudes Canceladas</h5>
                                    </div>
                                    <div class="inv-balance-info">
                                        <span class="inv-stats balance-credited vCancelados">
                                            <img src="/img/mini_loader.gif" alt="Estamos trabajando en su solicitud" class="" style="width:30px;">
                                        </span>
                                    </div>
                                </div>
                                <div class="acc-action">
                                    <div class="text-white"> 
                                        <i class="fa fa-times fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 col-lg-12 layout-spacing">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <h5 class="card-title ml-2">Turnos por Profesional</h5>
                                        <div class="table-responsive">
                                            <table class="table table-striped dt-view dataTable dtTurnosSolicitud">
                                                <thead>
                                                    <tr>
                                                        <th>Profesional</th>
                                                        <th>Asignados Hoy</th>
                                                        <th>Asignados Mes</th>
                                                        <th>CAncelados Mes</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/lib/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/lib/datepicker/js/bootstrap-datepicker.es.min.js"></script>
    <script src="/lib/timepicker/js/bootstrap-timepicker.js"></script>
    <script src="/lib/datatables/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="/lib/datatables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="/lib/datatables/DateTime-1.10.x/datetime-moment.js"></script>
    <script src="/lib/datatables/Buttons-1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="/lib/datatables/Buttons-1.6.1/js/buttons.bootstrap4.min.js"></script>
    <script src="/lib/datatables/Select-1.3.1/js/dataTables.select.min.js"></script>
    <script src="/lib/datatables/Select-1.3.1/js/select.bootstrap4.min.js"></script>
    <script src="/lib/select2/js/select2.min.js"></script>
    <script src="/lib/select2/js/select2_locale_es.js?1361"></script>
    <script src="/lib/accounting/accounting.min.js"></script>
    <script src="/lib/autonumeric/autoNumeric.min.js"></script>
    <script src="/lib/jquery-alphanum/jquery.alphanum.js"></script>
    <script src="/lib/cleave/cleave.min.js"></script>
    <script src="/lib/cleave/cleave.jquery.js"></script>
    <script src="/lib/cleave/cleave-phone.ar.js"></script>
    <script src="/lib/flatpickr/flatpickr.js"></script>
    <script src="/lib/flatpickr/es.js"></script>

    <script src="/js/Helpers/dataTables.helper.js?1361"></script>
    <script src="/js/Helpers/select2.helper.js?1361"></script>
    <script src="/js/Helpers/formData.helper.js?1361"></script>
    <script src="/js/Helpers/ajax-action.js?1361"></script>
    <script src="/js/Helpers/constraints.helper.js?1361"></script>
    <script src="/js/Helpers/accounting.helper.js"></script>
    <script src="/js/Helpers/dropdown-group-list.helper.js?1361"></script>
    <script src="/js/Helpers/parseDynamicContent.helper.js?1361"></script>

    <script src="/js/Shared/enums.js?1361"></script>
    <script src="/js/Shared/modals.js?1361"></script>

    <script src="/js/Views/Home/administrador.js?1361"></script>
}

    