@model string
@{
    ViewBag.Title = GlobalSettings.TituloSistema;
}
@section Styles {
}

<div class="Bienvenida">
    <div class="row">
        <div class="col">

            <h3>@Model</h3>
            <h4>Bienvenido/a!</h4>

        </div>
    </div>
</div>

@section Scripts {
}