div.master-detail-component {

}

div.master-detail-component > table {

}

div.master-detail-component > table > thead > tr > th {
    padding-right: 5px;
    color: #3b3f5c;
    white-space: nowrap;
    box-sizing: content-box;
}

div.master-detail-component > table > thead > tr > th > span {
    display: block;
    padding: 1px 2px;
    border-bottom: solid 1px #dcdcdc;
}

div.master-detail-component > table > tbody:before {
    content: ' ';
    display: block;
    line-height: 10px;
}

div.master-detail-component > table > tbody > tr.master-detail-row-template {
    display: none;
}

div.master-detail-component > table > tbody > tr > td {
    padding-right: 10px;
    box-sizing: content-box;
}

div.master-detail-component > table > thead > tr > th.hidden,
div.master-detail-component > table > tbody > tr > td.hidden {
    display: none;
}

div.master-detail-component > table > tbody > tr > td:last-child {
    display: none;
    padding-right: 0;
    white-space: nowrap;
}

div.master-detail-component > table > tbody > tr > td:last-child > i {
    font-size: 22px;
    color: #3b3f5c;
    padding-right: 4px;
    cursor: pointer;
}

div.master-detail-component > table > tbody > tr > td:last-child > i:last-child {
    padding-right: 0;
}

div.master-detail-component > table > tbody > tr > td:last-child > i:hover {
    color: var(--primary);
}

div.master-detail-component:not(.readonly) > table > tbody > tr:hover > td:last-child {
    display: block;
}

div.master-detail-component > table > tbody > tr > td > .master-detail-cell {
    display: block;
    position: relative;
    width: 100%;
    border: none;
    border-top: solid 1px transparent;
    border-left: solid 1px transparent;
    border-bottom: solid 1px #dcdcdc;
    padding: 1px 2px;
    text-transform: uppercase;
    color: #676262 
}

div.master-detail-component > table > tbody > tr > td > .master-detail-cell.badge  {
    text-transform: none;
    color: white;
}

div.master-detail-component > table > tbody > tr > td > .master-detail-cell::selection {
    background-color: rgba(var(--primary-rgb), 0.8);
}

div.master-detail-component > table > tbody > tr > td > .master-detail-cell[readonly],
div.master-detail-component > table > tbody > tr > td > .master-detail-cell[disabled] {
    background: none;
    color: lightgray;
    cursor: not-allowed;
}

div.master-detail-component > table > tbody > tr > td > .master-detail-cell:not([readonly]):not([disabled]):focus {
    border-left: solid 1px rgba(var(--primary-rgb), 0.8);
    border-bottom-color: rgba(var(--primary-rgb), 0.8);
    color: var(--primary);
}

div.master-detail-component > table > tbody > tr > td > select.master-detail-cell {
    appearance: none;
    cursor: pointer;
}

div.master-detail-component > table > tbody > tr > td > select.master-detail-cell:not([readonly]):not([disabled]) {
    padding-right: 16px;
    background-image: linear-gradient(45deg, transparent 50%, #94959e 50%), linear-gradient(135deg, #94959e 50%, transparent 50%);
    background-position: calc(100% - 7px) 50%, calc(100% - 3px) 50%;
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

div.master-detail-component > table > tbody > tr > td > select.master-detail-cell:not([readonly]):not([disabled]):focus {
    background-image: linear-gradient(45deg, transparent 50%, #00bbaf 50%), linear-gradient(135deg, #00bbaf 50%, transparent 50%);
}

div.master-detail-component > table > tbody > tr > td > span.master-detail-cell span.check-mark {
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 4px;
    background-color: #e0e6ed;
    margin: 0 auto;
}
div.master-detail-component > table > tbody > tr > td > span.master-detail-cell span.check-mark.checked::after {
    display: block;
    position: absolute;
    content: '';
    top: calc(50% - 4px);
    left: calc(50% - 2px);
    width: 4px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0!important;
    transform: rotate(45deg);
}

div.master-detail-component > table > tbody > tr > td > span.master-detail-cell span.check-mark.checkbox-default.checked { background: #888ea8; }
div.master-detail-component > table > tbody > tr > td > span.master-detail-cell span.check-mark.checkbox-primary.checked { background: #4361ee; }
div.master-detail-component > table > tbody > tr > td > span.master-detail-cell span.check-mark.checkbox-success.checked { background: #1abc9c; }
div.master-detail-component > table > tbody > tr > td > span.master-detail-cell span.check-mark.checkbox-info.checked { background: #2196f3; }
div.master-detail-component > table > tbody > tr > td > span.master-detail-cell span.check-mark.checkbox-warning.checked { background: #e2a03f; }
div.master-detail-component > table > tbody > tr > td > span.master-detail-cell span.check-mark.checkbox-danger.checked { background: #e7515a; }
div.master-detail-component > table > tbody > tr > td > span.master-detail-cell span.check-mark.checkbox-secondary.checked { background: #805dca; }
div.master-detail-component > table > tbody > tr > td > span.master-detail-cell span.check-mark.checkbox-dark.checked { background: #3b3f5c; }

div.master-detail-component > table > tbody > tr > td > select.master-detail-cell span.check-mark.checkbox-primary.checked { background: #4361ee; }

div.master-detail-component > table > tfoot > tr > td > div {
    text-align: center;
    color: black;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

div.master-detail-component > table.disable-add > tbody > tr > td > i.action-add {
    display: none;
}
div.master-detail-component > table.disable-remove > tbody > tr > td > i.action-remove {
    display: none;
}
div.master-detail-component > table.disable-edit > tbody > tr > td > i.action-edit {
    display: none;
}

div.master-detail-component > table > tfoot.hidden {
    display: none;
}

div.master-detail-component > table > tfoot > tr > td > div:hover {
    background-color: rgba(var(--primary-rgb), 0.05);
}

div.master-detail-component > table > tfoot > tr > td > div:active {
    background-color: rgba(var(--primary-rgb), 0.1);
}