@using System.Text.RegularExpressions
@model LizardCode.SalmaSalud.Application.Models.Turnos.HistorialViewModel
@{
    Layout = null;

    ViewBag.MainClass = "TurnoHistorialView";
}

@Html.HiddenFor(m=> m.IdTurno, new { @class = "hdnIdTurno"})

<div class="modal-header">
    <h5 class="modal-title">Historial de Turnos</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="fa fa-times"></span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col">
            <table class="@string.Format("table table-striped dt-view dataTable dtHistorial_{0}", Model.IdTurno)" width="100%">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Usuario</th>
                        <th>Estado</th>
                        <th style="word-wrap:break-word">Observaciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-times"></i> CERRAR</button>
</div>
*@

<script src="/js/Views/Turnos/historial.js?3661"></script>