<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <target xsi:type="File" name="f" fileName="${basedir}/logs/${date:format=yyyy-MM-dd}.log" archiveNumbering="DateAndSequence" archiveAboveSize="10000000"
            layout="[${date:format=HH\:mm\:ss}] (${uppercase:${level}}) => ${message} ${onexception:${newline}${exception:format=tostring}${newline}}" />

    <target xsi:type="Console" name="c" layout="${message}" />

  </targets>

  <rules>

    <logger name="*" minlevel="Trace" writeTo="c,f" />

  </rules>
</nlog>