@using LizardCode.Framework.Application.Models.Repeater;
@model LizardCode.SalmaSalud.Application.Models.Evoluciones.EvolucionViewModel
@{
    Layout = "~/Views/Shared/MaestroLayout.cshtml";

    ViewBag.MainClass = "ABMEvolucionesView";

    ViewBag.Title = "Evoluciones";
    ViewBag.TitleNew = "...";
    ViewBag.TitleEdit = "...";
    ViewBag.TitleRemove = "...";
    ViewBag.ItemMenu = "Evoluciones";

    ViewBag.ButtonNew = false;//PermisosBusiness.Instance.VerificarPermisos(ModuloOperativo.Usuarios, Permiso.Alta);
    ViewBag.ButtonEdit = false;//PermisosBusiness.Instance.VerificarPermisos(ModuloOperativo.Usuarios, Permiso.Modificacion);
    ViewBag.ButtonRemove = true;//PermisosBusiness.Instance.VerificarPermisos(ModuloOperativo.Usuarios, Permiso.Baja);

    ViewBag.AjaxGetAll = Url.Action("ObtenerTodos", "EvolucionesExternas");
    //ViewBag.AjaxGet = Url.Action("Obtener", "Evoluciones");
    ViewBag.AjaxAdd = Url.Action("Nuevo", "EvolucionesExternas");
    //ViewBag.AjaxUpdate = Url.Action("Modificar", "Evoluciones");
    ViewBag.AjaxDelete = Url.Action("Eliminar", "EvolucionesExternas");

    ViewBag.Tabs = new string[] { "General" };
}

@section Styles {
    <link href="/css/Views/Turnos/index.css?1325" rel="stylesheet" />
}

@section ToolbarButtons {

    <button type="button" class="btn btn-secondary btHistoriaClinicaTb" title="Historia Clínica" disabled><i class="fa fa-search"></i> VER HISTORIA CLÍNICA</button>
    <button type="button" class="btn btn-primary btNuevaEvolucion" title="Nueva Evolución"><i class="fa fa-plus"></i> Nuevo</button>
    <button type="button" class="btn btn-success btImportar" title="Importar Planilla Excel"><i class="fas fa-upload"></i> <span>Importar XLS</span></button>
}

@section Filters {
    
    <div class="col">
        @* <div class="row">
            @Html.FilterDropDownListFor(m => m.IdEspecialidad, Model.MaestroEspecialidades, "Especialidad", colSize: "col-md-4")
            @Html.FilterDropDownListFor(m => m.IdProfesional, Model.MaestroProfesionales, "Profesional", colSize: "col-md-4")
        </div> *@

        <div class="row">
            @Html.FilterPickerDateFor(m => m.FechaDesde, "Fecha Desde", value: DateTime.Now.Date.ToString("dd/MM/yyyy"), colSize: "col-md-2")
            @Html.FilterPickerDateFor(m => m.FechaHasta, "Fecha Hasta", value: DateTime.Now.Date.AddDays(14).ToString("dd/MM/yyyy"), colSize: "col-md-2")
        </div>
    </div>

}

@section GridColumns {

    <th></th>
    <th>Fecha</th>
    <th>Paciente</th>
    <th>Estado</th>

}

@section CrudForm {
  

}

@section CustomModals {    


}

@section Scripts {

    <script src="/js/Shared/modals.js?1325"></script>
    <script src="/js/Views/EvolucionesExternas/index.js?1325"></script>
}
