@using LizardCode.Framework.Application.Models.Repeater;

@model LizardCode.SalmaSalud.Application.Models.SubdiarioIVAVentas.SubdiarioIVAVentasViewModel
@{
    Layout = "~/Views/Shared/ReportLayout.cshtml";

    ViewBag.MainClass = "ReportSubdiarioIVAVentasView";

    ViewBag.Title = "Subdiario de IVA Ventas";
    ViewBag.ItemMenu = "Subdiario IVA";

    ViewBag.ButtonExcel = true;
    ViewBag.ButtonPDF = true;
    ViewBag.ButtonPrint = true;

    ViewBag.AjaxGetAll = Url.Action("ObtenerTodos", "SubdiarioIVAVentas");
}

@section Styles {
    <link href="/css/Views/SubdiarioIVAVentas/index.css?1325" rel="stylesheet" />
}

@section ToolbarButtons {
    <button type="button" class="btn btn-primary btDownloadCitiVentas" title="Download Citi Ventas"><i class="fa fa-download"></i> <span>CITI Ventas</span></button>
    <button type="button" class="btn btn-primary btDownloadCitiVentasAli" title="Download Citi Ventas Alícuotas"><i class="fa fa-download"></i> <span>CITI Alícuotas</span></button>
    <button type="button" class="btn btn-primary btTotalesAlicuotas" title="Detalle de Totales por Alícuota"><i class="fa fa-badge-dollar"></i> <span>Totales por Alícuotas</span></button>
}

@section Filters {
    <div class="col">

        <div class="row">
            @Html.FilterPickerDateFor(m => m.FechaDesde, "Fecha Desde", colSize: "col-md-2")
            @Html.FilterPickerDateFor(m => m.FechaHasta, "Fecha Hasta", colSize: "col-md-2")
            @Html.FilterDropDownListFor(m => m.IdCliente, Model.MaestroClientes, "Cliente", colSize: "col-md-4")
        </div>
    
    </div>
}

@section GridColumns {

    <th>ID</th>
    <th>Fecha</th>
	<th>Tipo</th>
	<th>Sucursal</th>
	<th>Número</th>
	<th>Cliente</th>
	<th>CUIT</th>
	<th>Tipo IVA</th>
	<th>Neto Gravado</th>
    <th>No Gravado</th>
	<th>Alícuota</th>
	<th>Importe Alícuota</th>
	<th>Total</th>

}

@section CustomModals {

    <div class="modal fade modalDetalleAlicuotas" role="dialog" aria-hidden="true">
        <div class="modal-dialog bounceInRight animated">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Detalle de Totales por Alicuota...</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="zmdi zmdi-close"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-primary btExcelAlicuotas" title="Excel"><i class="fa fa-file-excel"></i> <span>Excel</span></button>
                    <div class="table-responsive">
                        <table class="table table-bordered mb-4 tableDetailAlicuotas">
                            <thead>
                                <tr>
                                    <th>Alícuota</th>
                                    <th>Neto Gravado</th>
                                    <th>No Gravado</th>
                                    <th>Importe Alícuota</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-times"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    <script src="/js/Views/SubdiarioIVAVentas/index.js?1325"></script>
}
