.pac-container {
    z-index: 10002;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.btExcelAlicuotas {
    margin-bottom: 10px;
}