@model LizardCode.Framework.Aplication.Models.Base.Ambiente
@{
    Layout = null;
}

@if (Model.EsProduccion)
{
    @Model.Version
}
else
{
    <span class="ambiente">@Model.Nombre</span><text> - @Model.Version</text>
}
